body {
	font-family: "Courier New", Courier, monospace;
	background-color: #efefef;}
.wrapper {
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double #000;
	background-color: #ffffff;}
#logo {
	width: 150px;
	margin: 10px auto 25px auto;}
#logo img{
	width: 150px;
	height: 100px;
}
ul {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
	text-transform: uppercase;}

li {
	display: inline;
	margin: 0px 3px;}
section img{
	width: 600px;
	height: 150px;
}
p {
	text-align: center;
	width: 600px; 
	margin: 20px auto 20px auto;}

a:hover, a.on {
	color: green;
	background-color: #ffffff;}
footer{
	margin-top: 10px;
	font-size: smaller;
}
